/* Flexible Field Label */
.acf-flexible-content .layout .acf-fc-layout-handle {
	background: rgb(131, 131, 131);
	color: #fff;
}
.acf-flexible-content .layout .fc-layout-order {
	margin: 0 10px 0 0;
}

/* Repeater Field Handle Colours */
.acf-repeater .acf-row:nth-child(odd) > .acf-row-handle.order {
	background: rgb(131, 131, 131);
}
.acf-repeater .acf-row:nth-child(even) > .acf-row-handle.order {
	background: #23282d;
}

/* Fixed Publish Button */
#side-sortables {
	position: relative;
}
#side-sortables .spacer {
	margin-bottom: 20px;
	display: none;
}
#side-sortables.fixed .spacer {
	display: block;
}
#side-sortables.fixed #submitdiv {
	position: fixed;
	width: 278px;
	top: 32px;
	right: 20px;
	z-index: 999;
}

/* ACF Widget Fields */
.widget-content .acf-field:nth-child(2) {
	padding-top: 15px;
}
