.breadcrumbs {
	border-top: 24px solid #989898;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: $font-weight--light;
	position: relative;
	z-index: 50;

	.trail {
		@include transform(translateX(-50%));
		position: absolute;
		left: 50%;
		top: -48px;
		color: white;
		padding: 22px 46px;
		background: url('img/breadcrumb.png') $ui--primary;
		white-space: nowrap;
	}

	.fa {
		margin: 0 8px;
	}

	a {
		color: white;
		transition: all 0.3s ease-in-out;

		&:hover {
			color: $ui--secondary;
		}
	}

	@include break('large') {
		border-top-width: 20px;

		.trail {
			padding: 18px 36px;
			top: -42px;
		}
	}

	@include break('medium') {
		font-size: 18px;
		border-top-width: 14px;

		.trail {
			padding: 12px 20px;
			top: -34px;
		}

		.fa {
			margin: 0 5px;
		}
	}

	@include break('small') {
		border-top: none;

		.container {
			padding: 0;
		}

		.trail {
			position: static;
			@include transform(translateX(0));
			white-space: normal;
		}
	}
}