.btn {
	display: inline-block;
	background: $ui--secondary;
	color: white;
	text-transform: uppercase;
	font-size: 23px;
	font-weight: $font-weight--medium;
	padding: 13px 40px;
	border-radius: 40px;
	line-height: 1em;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: black;
	}

	&.outline {
		background: none;
		border: 2px solid white;

		&:hover {
			background: white;
			color: black;
		}
	}

	&.black {
		background: black;

		&:hover {
			background: white;
			color: black;
		}
	}

	&.blue {
		background: $ui--primary;

		&:hover {
			background: black;
		}
	}

	@include break('large') {
		font-size: 21px;
	}

	@include break('medium') {
		font-size: 19px;
	}

	@include break('small') {
		padding: 10px 30px;
	}
}