.columns {
	@include clearfix;

	&.x2 {
		.column {
			width: 50%;
		}
	}

	&.x3 {
		.column {
			width: 33.3333%;
		}
	}

	&.x4 {
		.column {
			width: 25%;
		}
	}

	&.x5 {
		.column {
			width: 20%;
		}
	}

	.column {
		float: left;
		width: 100%;
	}
}