.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=email],
.frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=file],
.frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style select {
  border-radius: 0;
  border: 1px solid black;
  font-family: $font-family--primary;
}

.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=email],
.frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=phone],
.frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style select,
.frm_style_formidable-style.with_frm_style textarea,
.frm_form_fields_style,
.frm_style_formidable-style.with_frm_style .frm_scroll_box .frm_opt_container,
.frm_form_fields_active_style,
.frm_form_fields_error_style,
.frm_style_formidable-style.with_frm_style .chosen-container-multi .chosen-choices,
.frm_style_formidable-style.with_frm_style .chosen-container-single .chosen-single {
  border-radius: 0;
  border: 1px solid black;
  font-family: $font-family--primary;
}

.frm_style_formidable-style.with_frm_style legend + h3, .frm_style_formidable-style.with_frm_style h3.frm_form_title {
  font-family: $font-family--primary;
  color: black;

  font-size: 28px;
  font-weight: $font-weight--light;
  line-height: 1em;

}

.frm_style_formidable-style.with_frm_style p.description,
.frm_style_formidable-style.with_frm_style div.description,
.frm_style_formidable-style.with_frm_style div.frm_description,
.frm_style_formidable-style.with_frm_style .frm-show-form > div.frm_description {
  font-family: $font-family--primary;
  color: black;
  p {
    color: inherit;
  }
}

.frm_style_formidable-style.with_frm_style .frm_error {
  color: #b94a48;
}

.frm_style_formidable-style.with_frm_style .frm_form_field.frm_html_container {
  font-family: $font-family--primary;
  font-size: 20px;
  font-weight: bold;
  color: black;

  i {
    color: #b94a48;
    cursor: pointer;
  }
}

.frm_style_formidable-style.with_frm_style label.frm_primary_label,
.frm_style_formidable-style.with_frm_style.frm_login_form label {
  font-family: $font-family--primary;
  color: $ui--primary;
}

.frm_style_formidable-style.with_frm_style .frm_compact .frm_dropzone.dz-clickable .dz-message,
.frm_style_formidable-style.with_frm_style input[type=submit],
.frm_style_formidable-style.with_frm_style .frm_submit input[type=button],
.frm_style_formidable-style.with_frm_style .frm_submit button,
.frm_form_submit_style {
  display: inline-block;
  background: $ui--secondary;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: $font-weight--medium;
  padding: 13px 40px;
  border-radius: 40px;
  line-height: 1em;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: black;
    color: white;
  }
}
