.gallery {
	margin: auto;
}
.gallery .gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 50%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery .gallery-caption {
	margin-left: 0;
}