$gutter-size : 20px;

.row {
    @include clearfix();

    &.nested {
        margin: 0 $gutter-size * -1;
    }

    .col {
        float: left;
        padding: 0 $gutter-size;

        @for $i from 1 through 12 {
            &.w#{$i} {
                width: $i / 12 * 100%;
            }
        }
    }
}
