.main_wrapper {
	position: relative;
	z-index: 1000;
	background: white;
	transition: all 0.3s ease-in-out;
	@include transform(translateX(0));

	&.open {
		@include transform(translateX(300px));
	}
}

.sidenav {
	display: none;

	@include break('small') {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 300px;
		height: 100%;
		background: $ui--primary;
		box-shadow: inset 0 0 15px 0 black;
		z-index: 999;
		font-size: 18px;
		transition: all 0.3s ease-in-out;
		@include transform(translateX(-50px));

		&.open {
			@include transform(translateX(0));
		}

		ul {
			@include ulreset;
		}

		a {
			color: white;
			display: block;
			padding: 5px 15px;
		}

		.heading {
			color: white;
			padding: 12px 0 10px 0;
			margin: 0 20px 5px 15px;
			font-weight: $font-weight--bold;
			text-transform: uppercase;
			position: relative;
			font-size: 20px;

			&:before,
			&:after {
				position: absolute;
				content: "";
				left: 0;
				background: white;
			}

			&:before {
				height: 3px;
				bottom: 0;
				width: 45%;
			}

			&:after {
				height: 1px;
				bottom: 1px;
				width: 100%;
			}
		}
	}
}