@mixin ulreset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin clearfix {
    &::after {
        content: " ";
        display: block;
        clear: both;
    }
}

@mixin fontface($name, $file: '') {
    @if $file == '' { $file: $name; }

    @font-face {
        font-family: $name;
        src: url('fonts/#{$file}.eot');
        src: local('☺'),
             url('fonts/#{$file}.woff') format('woff'),
             url('fonts/#{$file}.ttf') format('truetype'),
             url('fonts/#{$file}.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

@mixin valign {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
}

@mixin unvalign {
    top: 0;
    @include transform(translateY(0));
}

@mixin linear-gradient($fromColor, $toColor, $fallbackColor: $toColor) {
    background-color: $fallbackColor; /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
    background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin selection($color) {
    ::-moz-selection {
        background: $color;
        text-shadow: none;
    }
    ::selection {
        background: $color;
        text-shadow: none;
    }
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin transition($attr...) {
    -webkit-transition: $attr;
    -moz-transition: $attr;
    -o-transition: $attr;
    transition: $attr;
}

@mixin box-sizing($type) {
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
    box-sizing: $type;
}

@mixin transform($ani) {
    -webkit-transform: $ani;
    -moz-transform: $ani;
    -o-transform: $ani;
    transform: $ani;
}

@mixin duration($timing) {
    -webkit-transition-duration: $timing;
    -moz-transition-duration: $timing;
    -o-transition-duration: $timing;
    transition-duration: $timing;
}

@mixin delay($timing) {
    -webkit-transition-delay: $timing;
    -moz-transition-delay: $timing;
    -o-transition-delay: $timing;
    transition-delay: $timing;
}

@mixin break($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

        @media #{$query} {
            @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
    }
}