// Defaults
$default_text_color      : #222;
$starting_width          : 1450px;

// Site Colors
$black                   : #000000;
$white                   : #ffffff;
$ui--primary             : #0F4B90;
$ui--secondary           : $ui--primary ;
$site-ribbon             :#dd3f3f;

// Font Weights
$font-weight--thin       : 100;
$font-weight--extralight : 200;
$font-weight--light      : 300;
$font-weight--normal     : 400;
$font-weight--regular    : 400;
$font-weight--medium     : 500;
$font-weight--semibold   : 600;
$font-weight--bold       : 700;
$font-weight--heavy      : 800;
$font-weight--black      : 900;

// Font Sizes
$font-size--base         : 16px;

// Font Families
$font-family--primary    : 'Lato', sans-serif;

// Breakpoints
$breakpoints : (
	'xlarge' : (max-width: 1520px),
	'large'  : (max-width: 1279px),
	'medium' : (max-width: 1023px),
	'small'  : (max-width: 767px),
	'xsmall' : (max-width: 480px)
);
