.banner {
	min-height: 445px;
	background-size: cover;
	background-position: center center;
	position: relative;

	.container {
		position: relative;
		z-index: 5;
	}

	.text {
		width: 60%;
		font-weight: $font-weight--light;
		font-size: 23px;
		float: right;
		color: white;
		margin: 50px 65px 25px 0;
		position: relative;
		z-index: 5;
	}

	h1 {
		font-weight: $font-weight--light;
		font-size: 70px;
		color: $white;
		line-height: 1em;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 25px;

		&:before,
		&:after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			background: white;
		}

		&:before {
			width: 525px;
			height: 4px;
		}

		&:after {
			width: 625px;
			height: 2px;
			bottom: 1px;
		}

		strong {
			font-weight: $font-weight--semibold;
			color: white;
			display: block;
		}
	}

	.buttons {
		text-align: center;
		padding-top: 35px;
		position: relative;

		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 50%;
			height: 20px;
			border-left: 2px solid white;
		}
	}

	.btn {
		padding: 12px 45px;
	}

	@include break('xlarge') {
		h1 {
			font-size: 60px;

			&:before {
				width: 45%;
			}
		}

		.text {
			font-size: 21px;
		}
	}

	@include break('large') {
		height: auto;

		.text {
			float: none;
			width: auto;
			margin: 0;
			padding: 30px 25px 0 25px;
		}

		h1 {
			display: inline-block;
			margin-bottom: 0;
			padding-bottom: 20px;

			&:after {
				width: 100%;
			}
		}

		.buttons {
			padding-bottom: 35px;
		}
	}

	@include break('small') {
		h1 {
			font-size: 46px;
		}

		.text {
			font-size: 19px;
			padding: 30px 0 0 0;
		}

		.buttons {
			padding-top: 10px;

			&:before {
				display: none;
			}
		}

		.bgvid {
			display: none;
		}
	}

	@include break('xsmall') {
		h1 {
			font-size: 40px;
		}
	}

	.bgvid {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 1;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

	.video_container {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}
