.blog {
  .content_with_sidebar {
    .sidebar {
      padding: 0;
      border: none;
    }
  }
}

.posts-listing {
  .post,
  .page {
    padding: 0.25rem 0;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  .posted {
    border-top: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    line-height: 1.4rem;
    padding: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    & > * {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}

.posts-sidebar {
  ul {
    margin: 0;
    padding-left: 1rem;

    li {
      margin: 0 0 0.5rem;
    }
  }

  .block-title:not(:first-child) {
    margin-top: 1.5rem;
    border-bottom: 2px solid white;
  }

  .block-title {
    border-bottom: 2px solid white;
    margin: 0 0 1rem;
  }
}

.sidebar-box {
  padding: 2rem;
  background: $ui--primary;
  color: white;
  margin: 0 0 1rem;

  a {
    color: white;

    &:hover {
      opacity: 0.5;
    }
  }

  .search-form {
    display: flex;
    margin: 1rem 0 0 0;

    input {
      border: none;
      background: white;
      padding: 0.625rem 1.25rem;
      width: calc(100% - 2.5rem);
      font-size: 0.875rem;
      -webkit-appearance: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      @include break(medium) {
        width: 12rem;
      }
    }

    .btn {
      padding: 0.625rem 0.5rem;
      border: none;
      background: white;
      color: $ui--primary;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover {
        background: $ui--secondary;
        color: white;
      }
    }
  }
}
