.case_study {
	padding: 40px 0;
	color: $ui--primary;

	.shadows {
		position: relative;

		&:before,
		&:after {
			position: absolute;
			content: "";
			background: white;
			height: 50px;
			border-radius: 100%;
			width: 100%;
			left: 0;
			box-shadow: 0 0 40px 0 #BDBDBD;
			z-index: 3;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}

	.cover {
		background: white;
		position: relative;
		z-index: 4;
	}

	.inner {
		display: table;
	}

	.photo,
	.text {
		display: table-cell;
		vertical-align: top;
	}

	.photo {
		background-size: cover;
		background-position: center center;
		width: 33.3333%;
	}

	.text {
		padding: 25px 50px;
		font-size: 18px;
		font-weight: $font-weight--light;
	}

	.title_block {
		text-align: center;
	}

	.title {
		font-size: 51px;
		font-weight: $font-weight--light;
		text-transform: uppercase;
		line-height: 1em;
		margin-top: 0;
	}

	.icons {
		position: relative;
		text-align: center;

		&:before,
		&:after {
			@include valign;
			position: absolute;
			content: "";
			display: block;
			background: $ui--primary;
			width: 30%;
		}

		&:before {
			right: 50%;
			height: 4px;
		}

		&:after {
			left: 50%;
			height: 1px;
		}

		.fa {
			display: inline-block;
			background: white;
			font-size: 43px;
			position: relative;
			z-index: 4;
			padding: 0 12px;
		}
	}

	.columns {
		margin: 0 -10px;

		.column {
			padding: 0 10px;
		}
	}

	.buttons {
		text-align: center;
	}

	.btn {
		border: 3px solid #AAAAAA;
		background: white;
		color: $ui--primary;
		font-size: 19px;
		transition: all 0.3s ease-in-out;

		&:hover {
			background: #AAAAAA;
			color: white;
		}
	}

	@include break('large') {
		.title {
			font-size: 42px;

			span {
				display: block;
				font-size: 30px;
				font-weight: $font-weight--bold;
				line-height: 1em;
			}
		}

		.photo {
			width: 45%;
		}

		.text {
			width: 55%;
			padding: 25px 30px;
			font-size: 16px;
		}

		.columns {
			margin: 0;

			&.x2 .column {
				width: 100%;
			}
		}

		.column {
			float: none;
			padding: 0;
		}
	}
}