.column-block {
	//

	&.scheme-light {
		color: white;
	}
	
	padding: 20px;

	color: $ui--primary;

	.col {
		font-weight: $font-weight--light;
		font-size: 20px;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: $font-weight--normal;
	}

	.title_block {
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 10px;

		&.style2 {
			.title {
				text-transform: uppercase;
				font-size: 52px;

				strong {
					font-weight: $font-weight--medium;
				}
			}
		}

		&:before,
		&:after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			background: white;
			background: $ui--primary;
		}

		&:before {
			width: 45%;
			height: 4px;
		}

		&:after {
			width: 100%;
			height: 2px;
			bottom: 1px;
		}

		.title {
			font-size: 68px;
			font-weight: $font-weight--light;
			line-height: 1em;
		}
	}

	@include break('xlarge') {
		padding: 40px 0;

		.text {
			padding: 0 50px;
		}

		.title_block {
			&.style2 {
				.title {
					font-size: 48px;
				}
			}

			.title {
				font-size: 62px;
				line-height: 1em;
			}
		}
	}

	@include break('large') {
		padding: 20px 0;

		.title_block {
			.title {
				margin-top: 0;
			}
		}
	}

	@include break('medium') {
		.title_block {
			&.style2 {
				.title {
					font-size: 42px;
				}
			}

			.title {
				font-size: 54px;
			}
		}

		.col {
			display: block;
			width: 100% !important;
		}
	}

	@include break('small') {
		.title_block {
			&.style2 {
				.title {
					font-size: 38px;
				}
			}

			.title {
				font-size: 44px;
			}
		}
	}

	@include break('xsmall') {
		.title_block {
			&.style2 {
				.title {
					font-size: 32px;
				}
			}

			.title {
				font-size: 40px;
			}
		}
	}
}
