.content_grid {
    padding: 60px 0;
    background-size: cover;

    &.overlap {
        margin-top: 60px;

        .services {
            margin-top: -120px;
        }
    }

    .title_block {
        text-align: center;
        padding-bottom: 45px;
    }

    .title {
        display: inline-block;
        color: $ui--primary;
        font-size: 68px;
        font-weight: $font-weight--light;
        padding: 0 60px 30px 60px;
        position: relative;
        line-height: 1em;

        &:before,
        &:after {
            position: absolute;
            content: "";
            background: $ui--primary;
            left: 0;
        }

        &:before {
            height: 4px;
            bottom: 0;
            width: 45%;
        }

        &:after {
            height: 2px;
            bottom: 1px;
            width: 100%;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 70px;

        &:not(:first-child) {
            margin: 50px 0 0 0;
        }
    }

    .service {
        flex: 1;
        width: 31%;
        position: relative;
        z-index: 0;
        color: $ui--primary;
        background: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

        &:hover {
            z-index: 15;

            .text {
                color: $ui--primary;;
            }

            .label {
                color: $ui--primary;
            }

            .btn {

                &:hover {
                    background: black;
                    color: white;
                }
            }

            .accent {
                opacity: 1;
            }

            &:last-child {
                .accent {
                    left: -106%;
                }
            }

            &:not(:last-child) {
                .accent {
                    left: 100%;
                }
            }
        }
    }

    .img {
        height: 234px;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 5;
        border-bottom: 1px solid black;
    }

    .img+.text {
        padding: 20px;
        text-align: center;
        h3 {
            font-size: 22px;
            padding: 0;
            margin: 0;
        }

        .label {
            &:before {
                display: none;
            }

            &:after {
                display: none;
            }
        }
    }

    .spacer {
        display: table-cell;
        width: 3.5%;
    }

    .inner {
        @include cover;
        font-weight: $font-weight--light;
        border: 1px solid black;
        z-index: 3;
    }

    .img.no-text {
        border: none;
        height: 300px;
    }


    .text {
        position: relative;
        z-index: 4;
        padding: 30px 40px;
        transition: all 0.3s ease-in-out;
    }

    .label {
        font-size: 38px;
        font-weight: $font-weight--light;
        margin-top: 0;
        position: relative;
        padding-bottom: 18px;
        transition: all 0.3s ease-in-out;

        &:before,
        &:after {
            position: absolute;
            content: "";
            left: 0;
            background: black;
        }

        &:before {
            height: 3px;
            bottom: 0;
            width: 45%;
        }

        &:after {
            height: 1px;
            bottom: 1px;
            width: 100%;
        }
    }

    .btns {
        text-align: center;
    }

    .btn {
        font-size: 16px;
        font-weight: $font-weight--bold;
        padding: 12px 30px;
    }

    .accent {
        @include box-sizing(content-box);
        position: absolute;
        background: $ui--secondary;
        left: 0;
        top: -12px;
        height: 100%;
        width: 100%;
        border: 12px solid $ui--secondary;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        .img {
            @include cover;
            background-size: cover;
            opacity: 0.5;
            transition: all 0.3s ease-in-out;
        }
    }

    @include break('xlarge') {
        .row {
            padding: 0 50px;
        }

        .title_block {
            padding-bottom: 30px;
        }

        .title {
            padding: 0 60px 25px 60px;
            margin-top: 0;
        }
    }

    @include break('large') {
        .row {
            padding: 0;
        }

        .services {
            padding: 0 20px;
        }

        .service {
            width: 32%;

            &:before {
                border-width: 8px;
                margin: -8px 0 0 -8px;
            }
        }

        .spacer {
            width: 2%;
        }

        .text {
            padding: 20px 30px;
        }

        .label {
            line-height: 1em;
            font-size: 30px;
            font-weight: $font-weight--normal;
        }

        .row {
            &:not(:first-child) {
                margin: 22px 0 0 0;
            }
        }

        .title {
            padding: 0 30px 15px 30px;
            font-size: 60px;
        }

        .accent {
            border-width: 8px;
            top: -8px;
        }

        .title_block {
            padding-bottom: 20px;
        }
    }

    @include break('medium') {
        .row,
        .service,
        .spacer {
            display: block;
        }

        .service,
        .spacer {
            width: 100%;
        }

        .spacer {
            height: 22px;
        }

        .accent {
            display: none;
        }
    }

    @include break('small') {
        .services {
            padding: 0;
        }

        .title {
            font-size: 46px;
        }

        .label {
            font-size: 26px;
        }

        .text {
            padding: 20px;
        }

        .img.no-text {
            height: 200px;
        }
    }
}
