.content_with_sidebar {
    padding: 40px 0;

    &:first-child {
        padding-top: 60px;
    }

    &.bg-drkblu {
        background: $ui--primary;
        color: white;
    }

    &.bg-lgtblu {
        background: $ui--secondary;
        color: white;
    }

    .content {
        float: left;
        width: 70%;
        padding-right: 40px;
        font-size: 20px;
        font-weight: 300;

        @include break('xlarge') {
            width: 65%;
        }

        @include break('medium') {
            float: none;
            width: 100%;
            padding-right: 0;
            padding-bottom: 30px;
            font-size: 18px;
        }

        strong {
            font-weight: 600;
        }
    }

    .sidebar {
        float: right;
        width: 30%;
        border: 1px solid black;
        padding: 30px 40px;
        font-size: 18px;

        @include break('xlarge') {
            width: 35%;
        }

        @include break('large') {
            padding: 25px 30px;
        }

        @include break('medium') {
            float: none;
            width: 100%;
        }

        @include break('small') {
            padding: 20px 25px;
        }

        @include break('xsmall') {
            border: none;
            padding: 0;
        }

        &.bg-drkblu {
            background: $ui--primary;
        }

        &.bg-lgtblu {
            background: $ui--secondary;
        }

        &.bg-drkblu,
        &.bg-lgtblu {
            color: white;
            border: none;

            .title_block {
                &:before,
                &:after {
                    background: white;
                }
            }
        }

        .title_block .title {
            font-size: 42px;

            @include break('xlarge') {
                font-size: 40px;
            }

            @include break('large') {
                font-size: 38px;
            }

            @include break('medium') {
                font-size: 36px;
            }
        }
    }

    .columns {
        @include break('medium') {
            .column {
                width: 100%;
                float: none;

                ul:first-child {
                    margin: 0;
                }
            }
        }
    }

    .career_listing {
        .career {
            padding: 20px 22px;

            &:nth-child(odd) {
                background: lightgrey;
            }

            &:nth-child(even) {
                background: #f1f1f1;
            }
        }

        h4 {
            margin-top: 0;
            font-size: 22px;
        }

        .btns {
            padding-top: 15px;
        }

        .btn {
            font-size: 18px;
            padding: 10px 25px;
        }

        ul {
            @include ulreset;
            @include clearfix;
        }

        li {
            float: left;
            position: relative;

            &:not(:first-child) {
                padding-left: 30px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: 12px;
                    width: 7px;
                    height: 7px;
                    background: $ui--primary;
                    border-radius: 8px;
                }
            }

            @include break('medium') {
                float: none;
                padding-left: 30px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: 12px;
                    width: 7px;
                    height: 7px;
                    background: $ui--primary;
                    border-radius: 8px;
                }
            }
        }
    }

    .title_block {
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 8px;

        &:before,
        &:after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            background: black;
        }

        &:before {
            width: 45%;
            height: 4px;
        }

        &:after {
            width: 100%;
            height: 2px;
            bottom: 1px;
        }

        .title {
            font-size: 52px;
            font-weight: $font-weight--light;
            line-height: 1em;
            text-transform: uppercase;
            margin: 0 0 10px 0;

            @include break('xlarge') {
                font-size: 48px;
            }

            @include break('large') {
                font-size: 44px;
            }

            @include break('medium') {
                font-size: 40px;
            }
        }
    }

    .location_list {
        select {
            width: 100%;
            border: 2px solid $ui--primary;
            color: #717375;
            font-family: $font-family--primary;
            font-size: 18px;
            padding: 6px 12px;

            optgroup,
            option {
                color: #717375;
            }
        }
    }
}