.events-manager {
  padding: 60px 0;

  div.css-search div.em-search-main .em-search-submit {
    background: $ui--primary;
  }

  .em-calendar-wrapper {
    overflow-x: auto;
  }

  table.fullcalendar {
    width: 100%;

    @include break('medium') {
      min-height: auto;

      ul {
        list-style: none;
        padding: 0;
      }
    }

    thead td,
    .days-names td {
      height: auto;
      padding: 10px;
    }

    td {
      vertical-align: top;
      width: 14.2%;
      height: 120px;
      min-width: 100px;
    }

    .days-names {
      font-weight: 700;
      color: $ui--primary ;
      font-size: 22px;
    }
  }

  table.em-calendar td.eventful a, table.em-calendar td.eventful-today a {
    color: $ui--primary;
  }

  strong {
    color: $ui--primary;
  }
}
