.featured_image {
	padding: 60px 0;
	color: white;
	position: relative;
	overflow: hidden;

	.container {
		position: relative;
		z-index: 3;
	}

	&.topleft,
	&.topright,
	&.bottomleft,
	&.bottomright,
	&.center {
		background-repeat: no-repeat;
	}

	&.topleft {
		background-position: left top;
	}

	&.topright {
		background-position: right top;
	}

	&.bottomleft {
		background-position: left bottom;
	}

	&.bottomright {
		background-position: right bottom;
	}

	&.fill {
		background-position: center center;
		background-size: cover;
	}

	&.center {
		background-position: center center;
	}

	&.darken {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(0,0,0,0.5);
			z-index: 2;
		}
	}

	.inner {
		display: table;

		&.centered {
			display: block;

			.text {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.text,
	.accent {
		display: table-cell;
	}

	.text {
		font-weight: $font-weight--light;
		font-size: 20px;
		padding: 0 70px;
		vertical-align: top;

		@for $i from 1 through 20 {
			$size: $i * 5;

			&.s#{$size} {
				width: 1% * $size;
			}
		}

		&.blue {
			color: $ui--primary;

			.title_block {
				&:before,
				&:after {
					background: $ui--primary;
				}
			}
		}

		&.black {
			color: black;

			.title_block {
				&:before,
				&:after {
					background: black;
				}
			}
		}

		a:not(.btn) {
			font-weight: $font-weight--bold;
		}
	}

	.accent {
		text-align: center;
		vertical-align: middle;
		background-position: center center;
		background-repeat: no-repeat;

		img {
			display: none;
		}

		.title {
            font-size: 38px;
            margin: 0;
        }

		&.news {
            text-align: left;
            font-weight: 300;
            font-size: 17px;
            border-left: 2px solid transparentize(white, 0.5);
            padding-left: 40px;

            .post {
                padding-top: 1px;
            }

            .name {
                font-size: 20px;
                text-transform: uppercase;
            }

            time {
                border-top: 2px solid white;
                border-bottom: 2px solid white;
                display: block;
                font-size: 17px;
                font-weight: bold;
                padding: 10px 0;
            }

            .read-more {
                font-weight: 600;
            }
        }
	}

	.title_block {
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 10px;

		&.style2 {
			.title {
				text-transform: uppercase;
				font-size: 52px;

				strong {
					font-weight: $font-weight--medium;
				}
			}
		}

		&.title-full {
			width: 80%;
			margin: 20px auto;

			@include break('small') {
				width: 100%;
			}
			&.blue {
				.title {
					text-align: center;
					color: $ui--primary;
				}

				&:before, &:after {
					background: $ui--primary;
				}
			}

			&.black {
				.title {
					text-align: center;
					color: black;
				}

				&:before, &:after {
					background: black;
				}
			}
		}

		&:before,
		&:after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			background: white;
		}

		&:before {
			width: 45%;
			height: 4px;
		}

		&:after {
			width: 100%;
			height: 2px;
			bottom: 1px;
		}

		.title {
			font-size: 68px;
			font-weight: $font-weight--light;
			line-height: 1em;
		}
	}

	.buttons {
		text-align: center;
		padding-top: 20px;
	}

	.btn {
		font-size: 21px;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: $font-weight--normal;
	}

	@include break('xlarge') {
		padding: 40px 0;

		.text {
			padding: 0 50px;
		}

		.title_block {
			&.style2 {
				.title {
					font-size: 48px;
				}
			}

			.title {
				font-size: 62px;
				line-height: 1em;
			}
		}

		.accent {
			padding: 0 20px;
		}
	}

	@include break('large') {
		padding: 20px 0;

		.inner {
			display: block;
		}

		.text,
		.accent {
			display: block;
			width: 100% !important;
			padding: 20px;
		}

		.title_block {
			.title {
				margin-top: 0;
			}
		}

		.accent {
			//display: none;
			background: none !important;

			img {
				display: inline-block;
				max-width: 80%;
			}
		}
	}

	@include break('medium') {
		.title_block {
			&.style2 {
				.title {
					font-size: 42px;
				}
			}

			.title {
				font-size: 54px;
			}
		}

		.text {
			font-size: 18px;
		}

		.btn {
			font-size: 19px;
		}
	}

	@include break('small') {
		.title_block {
			&.style2 {
				.title {
					font-size: 38px;
				}
			}

			.title {
				font-size: 44px;
			}
		}

		.text {
			padding: 10px 0;
		}

		.bgvid {
			display: none;
		}
	}

	@include break('xsmall') {
		.title_block {
			&.style2 {
				.title {
					font-size: 32px;
				}
			}

			.title {
				font-size: 40px;
			}
		}
	}

	.bgvid {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 1;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
}
