.features_with_accent {
	position: relative;

	&:before {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 200px;
		background: rgb(255,255,255);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, #E4E4E4 100%);
	}

	&:after {
		position: absolute;
		content: "";
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 60px;
		background: url('img/curve.png') no-repeat;
		background-size: 100% 100%;
		z-index: 2;
	}

	&.bottom {
		.container {
			align-items: stretch;
		}

		.accent > * {
			position: absolute;
			left: 0;
			bottom: 0;
			max-width: 100%;
			display: block;
			text-align: center;
		}

		@include break('large') {
			.accent {
				display: none;
			}
		}
	}

	.container {
		position: relative;
		z-index: 4;
		display: flex;
		align-items: center;
	}

	.accent {
		position: relative;
		width: 31%;
		text-align: center;
		padding: 20px 0;
	}

	.features {
		width: 69%;
		display: flex;
		padding: 50px 0;
	}

	.feature {
		width: 33.3333%;
		padding: 0 36px;
	}

	.img {
		display: block;
		height: 130px;
		background-size: cover;
		background-position: center center;
		transition: all 0.3s ease-in-out;
		transform-origin: center center;
	}

	.label {
		font-size: 32px;
		font-weight: $font-weight--light;
		color: $ui--primary;
		text-transform: uppercase;
		line-height: 1em;
		margin-top: 25px;
		margin-bottom: 0;
		transition: all 0.3s ease-in-out;

		strong {
			color: $ui--secondary;
			font-weight: $font-weight--medium;
			transition: all 0.3s ease-in-out;
		}
	}

	a {
		display: block;

		&:hover {
			.img {
				@include transform(scale(1.1));
			}

			.label {
				color: black;

				strong {
					color: black;
				}
			}
		}
	}

	@include break('xlarge') {
		.feature {
			padding: 0 25px;
		}

		.label {
			font-size: 28px;
		}

		.accent {
			width: 30%;
		}
	}

	@include break('large') {
		.container {
			flex-wrap: wrap;
		}

		.accent {
			width: 100%;
			order: 1;
			padding-bottom: 30px;

			img {
				max-width: 60%;
			}
		}

		.features {
			width: 100%;
			padding: 30px 0;
		}
	}

	@include break('medium') {
		.features {
			padding: 20px 0;
		}

		.feature {
			padding: 0 10px;
		}

		.label {
			font-size: 24px;
		}
	}

	@include break('small') {
		&:after {
			height: 40px;
		}

		.features {
			display: block;
		}

		.feature {
			width: 100%;
			padding: 0;
		}

		.label {
			margin: 10px 0 15px 0;
		}
	}
}
