.footer {
	color: $ui--primary;
	font-size: 18px;
	text-transform: uppercase;
	overflow: hidden;

	a {
		color: $ui--primary;
		transition: all 0.3s ease-in-out;

		&:hover {
			color: black;
		}
	}

	.container {
		border-top: 1px solid $ui--primary;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.columns {
		margin: 0 -20px;

		.column {
			padding: 0 20px;

			&.x2 {
				width: 40%;
			}

			&.logo {
				padding-bottom: 50px;
			}
		}
	}

	.widget-title {
		font-size: 33px;
		font-weight: $font-weight--medium;
		border-bottom: 1px solid $ui--primary;
		padding-bottom: 12px;
		margin-top: 0;
		text-transform: none;
	}

	ul {
		@include ulreset;
	}

	.menu {
		font-size: 20px;

		ul {
			float: left;
			width: 50%;
		}
	}

	.social,
	.contact {
		li {
			@include clearfix;
			padding-bottom: 2px;
		}
	}

	.icon {
		float: left;
	}

	.text {
		float: right;
	}

	.address {
		font-size: 15px;
	}

	.fa {
		font-size: 22px;
		width: 25px;
		text-align: center;
	}

	@include break('xlarge') {
		.columns {
			margin: 0;
		}
	}

	@include break('large') {
		.columns {
			.column {
				padding: 0 12px;
			}
		}

		.column {
			width: 25% !important;
		}

		.menu {
			font-size: 18px;

			ul {
				float: none;
				width: 100%;
			}
		}
	}

	@include break('medium') {
		.column {
			width: 33.3333% !important;

			&.logo {
				display: none;
			}
		}

		.widget-title {
			font-size: 28px;
			padding-bottom: 6px;
		}
	}

	@include break('small') {
		text-align: center;

		.columns {
			.column {
				padding: 0;
			}
		}

		.column {
			width: 100% !important;

			&:not(:first-child) {
				padding-top: 15px;
			}
		}

		.social,
		.contact {
			li {
				display: inline-block;
				margin: 0 5px;
			}
		}

		.icon {
			width: 35px;
		}

		.text {
			float: left;
		}

		hr {
			display: none;
			margin: 15px 0;
		}
	}
}

#footer-credit a,#footer-credit.full{background-color:#313131}#footer-credit{position:relative;width:100%;height:0;z-index:999}#footer-credit.alt,#footer-credit.full{position:relative;width:100%;height:auto;text-align:right}#footer-credit a{position:absolute;bottom:0;right:0;display:inline-block;text-transform:uppercase;color:#fff;font-size:10px;padding:.75em 2em;transition:all .3s ease-in-out}#footer-credit.alt a,#footer-credit.full a{text-align:left;position:relative}#footer-credit.full a{background:0 0;float:none}#footer-credit a img{margin:0 0 8px 10px;width:auto;filter:grayscale(1);transition:all .3s ease-in-out;vertical-align:middle}#footer-credit a:hover{color:#5196ce}#footer-credit a:hover img{filter:grayscale(0)}@media (max-width:767px){#footer-credit{position:relative;width:100%;background-color:#313131;z-index:999}#footer-credit a{font-size: 10px}#footer-credit a img{max-width:25%;}}
