.header {
	font-weight: $font-weight--black;
	text-transform: uppercase;
	position: relative;
	font-size: 21px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, #E4E4E4 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, #E4E4E4 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, #E4E4E4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#656566',GradientType=0 ); /* IE6-9 */
	}

	.logo {
		float: left;
		margin: 0 0 30px 0;
	}

	.navigation {
		float: right;
		position: relative;
		padding-top: 32px;

		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 10px;
			width: 100%;
			border-top: 1px solid $ui--primary;
		}
	}

	li {
		float: left;
		margin-right: 10px;
		position: relative;

		&.current-menu-item {
			&:before {
				background: $ui--primary;
			}
		}

		&:before {
			position: absolute;
			content: "";
			bottom: 0;
			left: 10px;
			width: 50px;
			height: 3px;
			background: $ui--secondary;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			&:before {
				width: 100%;
				height: 100%;
				left: 0;
			}

			ul {
                display: block;
            }

            > a {
                color: white;
            }
		}

		&.menu-item-has-children {
                &:before {
                    transition: none;
                }
            }

		ul {
                display: none;
                position: absolute;
                background: $ui--primary;
                // @include linear-gradient(#2f2f31, #656565);
                font-family: $font-family--primary;
                font-size: 14px;
                font-weight: 900;
                width: 250px;
                padding: 8px 20px;
                top: 100%;
                left: 0;
                z-index: 100;

                &:after {
                    content: "";
                    @include cover;
                    background: $ui--primary;
                }

                li {
                    //padding: 6px 0;
                    position: relative;
                    z-index: 1;

                    &:not(:first-child) {
                        border-top: 1px solid white;
                    }
                }

                a {
                    transition: all 0.3s linear;
                    color: white;

                    &:hover {
                        color: white;
                    }
                }
            }
	}

	a {
		color: $ui--primary;
		padding: 8px 10px;
		display: block;
		position: relative;
		z-index: 2;
		transition: all 0.3s linear;

		&:hover {
			color: white;
		}
	}

	@include break('xlarge') {
		.logo {
			margin: -35px 0 20px 0;
		}

		.navigation {
			padding-top: 15px;

			&:before {
				left: 0;
			}
		}

		li {
			margin-right: 4px;
		}
	}

	@include break('large') {
		font-size: 16px;

		.logo {
			width: 250px;
			margin: -30px 0 25px 0;
		}

		li {
			margin-right: 0;
		}
	}

	@include break('medium') {
		.logo {
			margin: -45px 0 15px 0;
		}

		.navigation {
			@include clearfix;
			float: none;
			width: 100%;
			clear: both;
			padding-bottom: 15px;
		}
	}

	@include break('small') {
		.logo {
			margin: 0 auto 0 auto;
			float: none;
			padding: 15px 0;
		}

		.navigation {
			display: none;
		}
	}
}