.inner_banner {
	height: 395px;
	background: url('img/bg.jpg') center top no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	text-transform: uppercase;
	color: white;
	overflow: hidden;
	position: relative;

    @supports (-webkit-overflow-scrolling: touch) {
        background-attachment: scroll;
    }

	.container {
		height: 100%;
		position: relative;
		z-index: 5;
	}

	.title_block {
		@include valign;
	}

	.line1 {
		margin: 0;
		font-size: 103px;
		font-weight: $font-weight--medium;
		line-height: 1em;
		padding: 50px 100px 30px 130px;
		position: relative;
		display: inline-block;

		&:before {
			@include cover;
			content: "";
			z-index: 1;
			background: url('img/title.png');
			background-size: 100% 100%;
		}

		span {
			position: relative;
			z-index: 2;
		}
	}

	.line2 {
		margin: -25px 0 0 0;
		font-size: 97px;
		font-weight: $font-weight--light;
		line-height: 1em;
		position: relative;
		z-index: 3;
		text-shadow: 0 0 12px #080808;
		display: block;
	}

	@include break('xlarge') {
		.line1 {
			font-size: 80px;
			padding: 30px 80px;
		}

		.line2 {
			font-size: 80px;
		}
	}

	@include break('large') {
		height: 325px;

		.line1 {
			font-size: 60px;
			padding: 20px 60px;
		}

		.ine2 {
			font-size: 60px;
			margin: -20px 0 0 0;
		}
	}

	@include break('medium') {
		height: 250px;

		.line1 {
			font-size: 50px;
		}

		.line2 {
			font-size: 50px;
			margin: -18px 0 0 0;
		}
	}

	@include break('xsmall') {
		.bgvid {
			display: none;
		}
	}

	@include break('xsmall') {
		background-attachment: scroll;
		background-position: center center;

		.line1 {
			font-size: 40px;
			padding: 20px 30px;
		}

		.line2 {
			font-size: 40px;
			margin: -16px 0 0 0;
		}
	}

	.bgvid {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 1;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

	.video_container {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}
