.map_block {
	position: relative;
	height: 730px;

	.map {
		@include cover;
		z-index: 1;
	}

	.container {
		position: relative;
		z-index: 2;
	}

	.text {
		top: 150px;
		position: absolute;
		right: 0;
		float: right;
		width: 470px;
		color: white;
		font-size: 20px;
		font-weight: $font-weight--light;
		background: rgba(0, 0, 0, 0.8);
		padding: 0 25px 25px 25px;
		border-radius: 4px;
	}

	.title {
		font-size: 68px;
		font-weight: $font-weight--light;
		position: relative;
		padding-bottom: 15px;

		&:before,
		&:after {
			position: absolute;
			content: "";
			background: white;
			left: 0;
		}

		&:before {
			width: 45%;
			height: 3px;
			bottom: 0;
		}

		&:after {
			width: 100%;
			height: 1px;
			bottom: 1px;
		}
	}

	.btns {
		text-align: center;
		padding-top: 20px;
	}

	.btn {
		font-size: 21px;
		padding: 13px 70px;
	}

	@include break('medium') {
		height: 500px;

		.text {
			padding: 15px 20px;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 6px;
			font-size: 18px;
			width: 400px;
			top: 100px;
		}

		.title {
			font-size: 46px;
			margin-top: 0;
		}

		.btns {
			padding: 10px 0;
		}

		.btn {
			font-size: 19px;
			padding: 12px 40px;
		}
	}

	@include break('small') {
		height: auto;

		.container {
			padding: 0;
		}

		.text {
			position: static;
			border-radius: 0;
			width: 100%;
			background: $ui--primary;
		}

		.map {
			position: static;
			height: 350px;
		}
	}
}