.section_heading {
	border-top: 7px solid $ui--primary;
	border-bottom: 7px solid $ui--primary;
	background: url('img/pattern.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	padding: 50px 0;

	.title_block {
		float: left;
		width: 33.3333%;
		text-align: center;
	}

	.title {
		text-transform: uppercase;
		font-weight: $font-weight--light;
		display: inline-block;

		span {
			display: block;
			line-height: 1em;
		}

		.line1 {
			text-align: left;
			font-size: 27px;
		}

		.line2 {
			text-align: center;
			padding: 0 26px 0 16px;
			font-size: 69px;
		}

		.line3 {
			text-align: right;
			color: white;
			font-size: 31px;
		}
	}

	.info {
		float: right;
		width: 66.6666%;
		display: table;
	}

	.desc,
	.buttons {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
	}

	.desc {
		position: relative;
		font-size: 24px;
		font-weight: $font-weight--light;
		padding: 1px 30px;

		&:before,
		&:after {
			position: absolute;
			content: "";
			display: block;
			top: 0;
			left: 0;
			background: $ui--secondary;
		}

		&:before {
			width: 45px;
			height: 1px;
		}

		&:after {
			width: 1px;
			height: 45px;
		}
	}

	.buttons {
		padding-left: 190px;
		position: relative;

		&:before {
			@include valign;
			position: absolute;
			content: "";
			left: 0;
			width: 160px;
			height: 2px;
			background: $ui--secondary;
		}
	}

	@include break('xlarge') {
		.title {
			.line2 {
				font-size: 62px;
			}
		}

		.desc {
			font-size: 22px;
			padding: 1px 20px;
		}

		.buttons {
			padding: 0;
			text-align: center;

			&:before {
				display: none;
			}
		}
	}

	@include break('large') {
		.title_block {
			width: 50%;
		}

		.info {
			width: 50%;
			display: block;
		}

		.desc,
		.buttons {
			display: block;
			width: 100%;
		}

		.desc {
			font-size: 20px;
		}
	}

	@include break('medium') {
		.title {
			.line1 {
				font-size: 23px;
			}

			.line2 {
				font-size: 50px;
			}

			.line3 {
				font-size: 27px;
			}
		}
	}

	@include break('small') {
		padding: 30px 0;

		.title_block {
			float: none;
			width: 100%;
		}

		.info {
			float: none;
			width: 100%;
			margin-top: 20px;
		}
	}
}