.section_summary {
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: white;
	position: relative;

	.title_block {
		float: left;
		width: 41%;
		padding: 96px 0 68px 0;
		position: relative;
		z-index: 4;
	}

	.title {
		font-size: 61px;
		font-weight: $font-weight--light;
		text-transform: uppercase;
		padding-left: 65px;
		text-shadow: 0 0 12px black;
		margin-bottom: 35px;

		strong {
			display: inline-block;
			background: $ui--primary;
			font-size: 80px;
			font-weight: $font-weight--medium;
			padding: 18px 35px;
			line-height: 1em;
			margin-left: -65px;
			text-shadow: none;
			-webkit-box-shadow: 0 0 12px 0 #000000;
			box-shadow: 0 0 12px 0 #000000;
		}

		span {
			display: block;
		}
	}

	.text {
		background: white;
		padding: 45px 60px;
		color: #7E8080;
		font-size: 23px;
		text-align: center;
		font-weight: $font-weight--light;

		h3 {
			font-size: 1.5em;
		}

		h4 {
			font-size: 1.17em;
		}

		h5 {
			font-size: 1em;
		}
	}

	.btn {
		margin-top: 15px;
	}

	.sections {
		background: rgba(11, 58, 113, 0.85);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 32px 0;

		.secs {
			float: right;
			width: 50%;
			position: relative;

			&:before {
				position: absolute;
				content: "";
				top: 196px;
				right: 99%;
				width: 265px;
				height: 4px;
				background: white;
			}
		}

		.section {
			float: left;
			width: 50%;
			padding: 0 38px;
			font-weight: $font-weight--light;
		}

		a {
			color: white;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $white;

				.img {
					@include transform(scale(1.1));
				}
			}
		}

		.img {
			height: 150px;
			background-size: cover;
			background-position: center center;
			transition: all 0.3s ease-in-out;
			-webkit-transform-origin: center center;
			-moz-transform-origin: center center;
			-ms-transform-origin: center center;
			-o-transform-origin: center center;
			transform-origin: center center;
		}

		h5 {
			font-size: 37px;
			font-weight: $font-weight--light;
			text-transform: uppercase;
			line-height: 1em;
			margin-top: 25px;
		}
	}

	@include break('xlarge') {
		.title_block {
			width: 45%;
			padding: 40px 0;
			margin-left: 20px;
		}

		.title {
			margin-bottom: 25px;
		}

		.sections {
			.section {
				padding: 0 20px;
			}

			.secs {
				&:before {
					display: none;
				}
			}

			h5 {
				font-size: 30px;
				margin-top: 20px;
				margin-bottom: 10px;
			}

			p {
				margin-top: 10px;
			}
		}

		.text {
			padding: 30px 60px 45px 60px;
		}
	}

	@include break('large') {
		.title {
			font-size: 52px;

			strong {
				font-size: 64px;
			}
		}

		.text {
			padding: 10px 40px 30px 40px;
			font-size: 19px;
		}

		.sections {
			.section {
				padding: 0 15px;
			}
		}
	}

	@include break('medium') {
		.title_block {
			float: none;
			width: 100%;
			margin: 0;
		}

		.title {
			font-size: 44px;

			strong {
				font-size: 56px;
			}
		}

		.text {
			padding: 10px 25px 30px 25px;
		}

		.sections {
			position: static;

			.secs {
				@include clearfix;
				float: none;
				width: 100%;
			}
		}
	}

	@include break('small') {
		.title_block {
			padding: 30px 0;
		}

		.title {
			font-size: 36px;
			padding-left: 35px;

			strong {
				font-size: 44px;
				margin-left: -35px;
				padding: 10px 20px;
				margin-bottom: 5px;
			}
		}

		.text {
			font-size: 18px;
			margin: 0 -20px -30px -20px;
			padding: 5px 20px 20px 20px;
		}

		.sections {
			.section {
				float: none;
				width: 100%;
				padding: 0;
			}
		}
	}
}