.service_breakdown {
	padding: 50px 0 30px 0;
	color: $ui--primary;
	font-weight: $font-weight--light;

	.title_block {
		text-align: center;
	}

	.title {
		display: inline-block;
		font-size: 68px;
		font-weight: $font-weight--light;
		position: relative;
		line-height: 1em;
		padding-bottom: 30px;

		&:before,
		&:after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 10%;
			background: $ui--primary;
		}

		&:before {
			width: 35%;
			height: 4px;
		}

		&:after {
			width: 80%;
			height: 2px;
			bottom: 1px;
		}

        @include break('large') {
            margin-top: 0;
            font-size: 52px;
        }
	}

	.desc {
		width: 60%;
		margin: 0 auto;
		font-size: 18px;
        text-align: center;

        @include break('large') {
            width: 80%;
        }
	}

	.services {
		@include clearfix;
		margin: 0 115px 0 115px;
        padding-top: 36px;
		position: relative;

        @include break('xlarge') {
            margin: 0 65px 0 65px;
        }

        @include break('large') {
            margin: 0 25px 0 25px;
        }

        @include break('medium') {
            margin: 0;
        }

        .slick-prev,
        .slick-next {
            width: 62px;
            height: 62px;

            &:before {
                font-family: "FontAwesome";
                font-size: 61px;
                color: $ui--primary;
            }
        }

        .slick-prev {
            left: -62px;
        }

        .slick-next {
            right: -62px;
        }

        .slick-prev:before {
            content: "\f0a8";
        }

        .slick-next:before {
            content: "\f0a9";
        }

		&:before,
		&:after {
			position: absolute;
			content: "";
			display: block;
			background: $ui--primary;
		}

		&:before {
			width: 2px;
			height: 20px;
			left: 50%;
			top: 16px;
			margin-left: -1px;
		}

		&:after {
			width: 75%;
			height: 2px;
			left: 12.5%;
			top: 36px;
		}

		&.x3 {
			.service {
				width: 33.3333%;
			}

			&:before {
				display: none;
			}

			&:after {
				left: 16.6666%;
				width: 66.6666%;
			}
		}

		&.x2 {
			.service {
				width: 50%;
			}

			&:after {
				left: 25%;
				width: 50%;
			}
		}
	}

	.service {
		float: left;
		width: 25%;
		padding: 44px 24px 0 24px;
		position: relative;
		text-align: center;
		font-size: 17px;

		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 2px;
			height: 32px;
			background: $ui--primary;
			left: 50%;
			top: 0;
			margin-left: -1px;
		}

        @include break('xlarge') {
            padding: 44px 20px 0 20px;
        }

        @include break('large') {
            padding: 44px 12px 0 12px;
        }

        @include break('medium') {
            padding: 44px 8px 0 8px;
            font-size: 16px;
        }
	}

	.img {
		display: block;
		height: 160px;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.img:not(.nocover) {
		background-size: cover;
	}

	h4 {
		font-size: 37px;
		font-weight: $font-weight--normal;
		line-height: 1em;
		margin-top: 25px;
		margin-bottom: 20px;

        @include break('large') {
            font-size: 34px;
        }

        @include break('medium') {
            font-size: 26px;
        }

		a {
			color: $ui--primary;
		}
	}

	@include break('small') {
		padding: 30px 0;

		.services {
			margin: 30px 0 0 0;
            padding: 0;

			&:before,
			&:after {
				display: none;
			}
		}

		.title {
			font-size: 42px;
		}

		.desc {
			width: 100%;
		}

		.service {
			float: none;
			width: 100% !important;
			padding: 0;

			&:before {
				display: none;
			}

			&:not(:first-child) {
				padding-top: 15px;
			}
		}

		h4 {
			margin-top: 15px;
		}
	}
}
