.service_grid {
	padding: 35px 0;

	.title_block {
		text-align: center;
		padding-bottom: 45px;
	}

	.title {
		display: inline-block;
		color: $ui--secondary;
		font-size: 68px;
		font-weight: $font-weight--light;
		padding: 0 60px 30px 60px;
		position: relative;
		line-height: 1em;

		&:before,
		&:after {
			position: absolute;
			content: "";
			background: $ui--secondary;
			left: 0;
		}

		&:before {
			height: 4px;
			bottom: 0;
			width: 45%;
		}

		&:after {
			height: 2px;
			bottom: 1px;
			width: 100%;
		}
	}

	.services {
		padding: 0 45px;
	}

	.row {
		display: table;
		width: 100%;

		&:not(:first-child) {
			margin: 50px 0 0 0;
		}
	}

	.service {
		display: table-cell;
		vertical-align: top;
		width: 31%;
		position: relative;
		z-index: 0;

		&:before {
			@include cover;
			content: "";
			background: white;
			border: 12px solid white;
			margin: -12px 0 0 -12px;
			transition: all 0.3s ease-in-out;
			z-index: 2;
		}

		&:hover {
			z-index: 15;

			&:before {
				background: $ui--secondary;
				border-color: $ui--secondary;
			}

			.text {
				color: white;
			}

			.label {
				color: white;
			}

			.btn {
				background: black;

				&:hover {
					background: white;
					color: black;
				}
			}

			.accent {
				opacity: 1;
			}

			&:last-child {
				.accent {
					left: -106%;
				}
			}

			&:not(:last-child) {
				.accent {
					left: 100%;
				}
			}
		}
	}

	.spacer {
		display: table-cell;
		width: 3.5%;
	}

	.inner {
		@include cover;
		font-weight: $font-weight--light;
		border: 1px solid black;
		z-index: 3;
	}

	.text {
		position: relative;
		z-index: 4;
		padding: 30px 40px;
		transition: all 0.3s ease-in-out;
	}

	.label {
		font-size: 38px;
		font-weight: $font-weight--light;
		color: $ui--secondary;
		margin-top: 0;
		position: relative;
		padding-bottom: 18px;
		transition: all 0.3s ease-in-out;

		&:before,
		&:after {
			position: absolute;
			content: "";
			left: 0;
			background: black;
		}

		&:before {
			height: 3px;
			bottom: 0;
			width: 45%;
		}

		&:after {
			height: 1px;
			bottom: 1px;
			width: 100%;
		}
	}

	.btns {
		text-align: center;
	}

	.btn {
		font-size: 16px;
		font-weight: $font-weight--bold;
		padding: 12px 30px;
	}

	.accent {
		@include box-sizing(content-box);
		position: absolute;
		background: $ui--secondary;
		left: 0;
		top: -12px;
		height: 100%;
		width: 100%;
		border: 12px solid $ui--secondary;
		z-index: 1;
		opacity: 0;
		transition: all 0.3s ease-in-out;

		.img {
			@include cover;
			background-size: cover;
			opacity: 0.5;
			transition: all 0.3s ease-in-out;
		}
	}

	@include break('xlarge') {
		.title_block {
			padding-bottom: 30px;
		}

		.title {
			padding: 0 60px 25px 60px;
			margin-top: 0;
		}
	}

	@include break('large') {
		.services {
			padding: 0 20px;
		}

		.service {
			width: 32%;

			&:before {
				border-width: 8px;
				margin: -8px 0 0 -8px;
			}
		}

		.spacer {
			width: 2%;
		}

		.text {
			padding: 20px 30px;
		}

		.label {
			line-height: 1em;
			font-size: 30px;
			font-weight: $font-weight--normal;
		}

		.row {
			&:not(:first-child) {
				margin: 22px 0 0 0;
			}
		}

		.title {
			padding: 0 30px 15px 30px;
			font-size: 60px;
		}

		.accent {
			border-width: 8px;
			top: -8px;
		}

		.title_block {
			padding-bottom: 20px;
		}
	}

	@include break('medium') {
		.row,
		.service,
		.spacer {
			display: block;
		}

		.service,
		.spacer {
			width: 100%;
		}

		.spacer {
			height: 22px;
		}

		.accent {
			display: none;
		}
	}

	@include break('small') {
		.services {
			padding: 0;
		}

		.title {
			font-size: 46px;
		}

		.label {
			font-size: 26px;
		}

		.text {
			padding: 20px;
		}
	}
}