.site-ribbon {
  width: 100%;
  padding: 10px 0;
  font-size: 22px;

  text-align: center;
  background-color: $site-ribbon;
  color: white;

  @include break('medium') {
    font-size: 18px;
  }

  @include break('small') {
    font-size: 16px;
  }
}
