.staff-grid {
  padding: 60px 0;

  .title_block {
		padding: 50px 0;
		text-align: center;

		.title {
			display: inline-block;
			font-size: 52px;
			font-weight: $font-weight--normal;
			position: relative;
			overflow: hidden;
			text-transform: uppercase;
			margin: 0;

		}
	}

  .grid-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .staff-item {
    margin: 10px;
    background: $ui--primary;
    color: white;
    width: 300px;

    @include break('xsmall') {
      width: 100%;
    }
  }

  .staff-photo {
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 300px;
  }

  .staff-content {
    padding: 10px 20px;
  }

  .staff-name {
    font-size: 30px;
  }

  .staff-title {
    font-size: 22px;
  }

  .staff-bio {
    font-weight: 200;
  }


}
