.staff-contact {
	//

	.container {
		display: table;
	}

	.title_block {
		.title {
			font-size: 28px;
			font-weight: $font-weight--light;
			line-height: 1em;
		}
	}

	.content, .staff {
		width: 50%;
		display: table-cell;
		padding: 20px;
	}

	.staff {
		&.no-staff {
			display: none;
		}
	}

	.content {
		&.no-staff {
			width: 100%;
		}
	}

	.staff-member {
		background: $ui--primary;
		padding: 10px 10px 0 10px;
		margin-bottom: 10px;
		min-height: 60px;
	}

	.staff-name {
		font-size: 25px;
		color: white;
		display: inline-block;
		
		padding-right: 10px;
	}

	.staff-title {
		font-size: 20px;
		font-weight: $font-weight--light;
		color: white;
		display: inline-block;
		padding-bottom: 5px;
		
	}

	.btn {
		font-size: 16px;
		background: white;
		color: $ui--primary;
		padding: 10px 40px;
	}

	.frm_style_formidable-style.with_frm_style input[type=text], 
	.frm_style_formidable-style.with_frm_style input[type=password], 
	.frm_style_formidable-style.with_frm_style input[type=email], 
	.frm_style_formidable-style.with_frm_style input[type=number], 
	.frm_style_formidable-style.with_frm_style input[type=url], 
	.frm_style_formidable-style.with_frm_style input[type=tel], 
	.frm_style_formidable-style.with_frm_style input[type=file], 
	.frm_style_formidable-style.with_frm_style input[type=search], 
	.frm_style_formidable-style.with_frm_style select {
		border-radius: 0;
		border: 1px solid black;
		font-family: inherit;
	}

	.frm_style_formidable-style.with_frm_style input[type=text], 
	.frm_style_formidable-style.with_frm_style input[type=password], 
	.frm_style_formidable-style.with_frm_style input[type=email], 
	.frm_style_formidable-style.with_frm_style input[type=number], 
	.frm_style_formidable-style.with_frm_style input[type=url], 
	.frm_style_formidable-style.with_frm_style input[type=tel], 
	.frm_style_formidable-style.with_frm_style input[type=phone], 
	.frm_style_formidable-style.with_frm_style input[type=search], 
	.frm_style_formidable-style.with_frm_style select, 
	.frm_style_formidable-style.with_frm_style textarea, 
	.frm_form_fields_style, 
	.frm_style_formidable-style.with_frm_style .frm_scroll_box .frm_opt_container, 
	.frm_form_fields_active_style, 
	.frm_form_fields_error_style, 
	.frm_style_formidable-style.with_frm_style .chosen-container-multi .chosen-choices, 
	.frm_style_formidable-style.with_frm_style .chosen-container-single .chosen-single {
		border-radius: 0;
		border: 1px solid black;
		font-family: innherit;
	}

	.frm_style_formidable-style.with_frm_style legend + h3, .frm_style_formidable-style.with_frm_style h3.frm_form_title {
		font-family: inherit;
		color: black;

		font-size: 28px;
		font-weight: $font-weight--light;
		line-height: 1em;
	
	}

	.frm_style_formidable-style.with_frm_style p.description, 
	.frm_style_formidable-style.with_frm_style div.description, 
	.frm_style_formidable-style.with_frm_style div.frm_description, 
	.frm_style_formidable-style.with_frm_style .frm-show-form > div.frm_description {
		font-family: inherit;
		color: black;
		p {
			color: inherit;
		}
	}

	.frm_style_formidable-style.with_frm_style .frm_error {
		color: #b94a48;
	}

	.frm_style_formidable-style.with_frm_style .frm_form_field.frm_html_container {
		font-family: inherit;
		font-size: 20px;
		font-weight: bold;
		color: black;

		i {
			color: #b94a48;
			cursor: pointer;
		}
	}

	.frm_style_formidable-style.with_frm_style label.frm_primary_label, 
	.frm_style_formidable-style.with_frm_style.frm_login_form label {
		font-family: inherit;
		color: $ui--primary;
	}

	.frm_style_formidable-style.with_frm_style .frm_compact .frm_dropzone.dz-clickable .dz-message, 
	.frm_style_formidable-style.with_frm_style input[type=submit], 
	.frm_style_formidable-style.with_frm_style .frm_submit input[type=button], 
	.frm_form_submit_style, 
	.frm_style_formidable-style.with_frm_style.frm_login_form input[type=submit] {
		display: inline-block;
		background: $ui--secondary;
		color: white;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: $font-weight--medium;
		padding: 13px 40px;
		border-radius: 40px;
		line-height: 1em;
		transition: all 0.3s ease-in-out;

		&:hover {
			background: black;
		}
	}

	@include break('xlarge') {
		
	}

	@include break('large') {
		.staff-name {
			font-size: 20px;
		}

		.staff-title {
			font-size: 18px;
		}
	}

	@include break('medium') {
		.content, .staff {
			width: 100%;
			display: block;
			padding: 20px;
		}
	}

	@include break('small') {
		
	}

	@include break('xsmall') {
		
	}
}