.testimonials-list {
  padding: 60px 0;

  .title_block {
		padding: 50px 0;
		text-align: center;

		.title {
			display: inline-block;
			font-size: 52px;
			font-weight: $font-weight--normal;
			position: relative;
			padding-bottom: 35px;
			overflow: hidden;
			text-transform: uppercase;
			margin: 0;

			&:before,
			&:after {
				position: absolute;
				content: "";
			}

			&:before {
				left: 0;
				bottom: 12px;
				width: 100%;
				height: 4px;
				background: lightgrey;
				z-index: 2;
			}

			&:after {
				@include transform(translateX(-50%));
				left: 50%;
				width: 28px;
				height: 28px;
				bottom: 0px;
				background: $ui--secondary;
				border-radius: 28px;
				z-index: 3;
			}
		}
	}

  .testimonial-content {
    padding: 0 20px;
  }

  .testimonial-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: $ui--primary;
    color: white;
    margin: 20px 0;
  }

  .icon {
    width: 46px;
    height: 46px;
    background: white;
    margin: 20px;
    font-size: 22px;
    text-align: center;
    line-height: 46px;
    border-radius: 56px;
    color: $ui--primary;
  }

  .name {
    font-size: 20px;
    font-weight: $font-weight--bold;
    text-transform: uppercase;
    margin: 20px;
  }

  .service {
    font-size: 16px;
    margin: 20px;
  }
}
