.testimonials {
	color: $ui--primary;

	.title_block {
		padding: 50px 0;
		text-align: center;

		.title {
			display: inline-block;
			font-size: 52px;
			font-weight: $font-weight--normal;
			position: relative;
			padding-bottom: 25px;
			overflow: hidden;
			text-transform: uppercase;
			margin: 0;

			&:before,
			&:after {
				position: absolute;
				content: "";
			}

			&:before {
				left: 0;
				bottom: 8px;
				width: 100%;
				height: 4px;
				background: lightgrey;
				z-index: 2;
			}

			&:after {
				@include transform(translateX(-50%));
				left: 50%;
				width: 28px;
				height: 28px;
				bottom: -4px;
				background: $ui--secondary;
				border-radius: 28px;
				z-index: 3;
			}
		}
	}

	.slider {
		background-size: cover;
		overflow: hidden;
		padding: 25px 0;

		.slide_con {
			float: right;
			width: 66.6666%;
			padding: 90px 30px;
			border-left: 2px solid $ui--primary;
			position: relative;
			left: -2px;
		}

		.accent {
			float: left;
			width: 33.3333%;
			padding: 90px 60px;
			border-right: 2px solid $ui--primary;
		}

		.text {
			background: white;
			font-weight: $font-weight--light;
			padding: 32px 40px;
		}

		.testimonial {
			background: white;
			font-weight: $font-weight--light;
			margin: 0 30px;
			padding: 30px;
			text-align: center;
			font-size: 18px;
		}

		.icon {
			width: 56px;
			height: 56px;
			background: $ui--primary;
			margin: 0 auto 25px auto;
			font-size: 24px;
			text-align: center;
			line-height: 56px;
			border-radius: 56px;
			color: white;
		}

		.name {
			font-size: 20px;
			font-weight: $font-weight--bold;
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		.service {
			font-size: 16px;
			margin-top: 5px;
		}

		.title {
			position: relative;
			font-size: 38px;
			font-weight: $font-weight--normal;
			padding-bottom: 15px;
			margin-top: 0;

			&:before,
			&:after {
				position: absolute;
				content: "";
				left: 0;
				background: black;
			}

			&:before {
				width: 45%;
				height: 3px;
				bottom: 0;
			}

			&:after {
				width: 100%;
				height: 1px;
				bottom: 1px;
			}
		}

		.btns {
			text-align: center;
		}

		.btn {
			font-size: 16px;
		}

		hr {
			border-top: 3px solid black;
			width: 45%;
			margin: 15px auto;
		}

		.slick-prev {
			left: -20px;
		}

		.slick-next {
			right: -20px;
		}

		.slick-prev,
		.slick-next {
			width: 30px;
			height: 50px;

			&:before {
				font-family: 'FontAwesome';
				font-size: 47px;
				color: $white;
			}
		}

		.slick-prev:before {
			content: '\f100';
		}

		.slick-next:before {
			content: '\f101';
		}
	}

	.slick-slider {
		margin-bottom: 0;
	}

	@include break('xlarge') {
		.title_block {
			padding: 30px 0;
		}

		.slider {
			.accent {
				padding: 70px 40px;
			}

			.slide_con {
				padding: 70px 50px;
			}

			.testimonial {
				margin: 0 15px;
			}

			.slick-prev {
				left: -25px;
			}

			.slick-next {
				right: -25px;
			}
		}
	}

	@include break('large') {
		.slider {
			.slide_con {
				float: none;
				width: 100%;
				padding: 10px 30px;
				border-left: none;
				left: 0;
			}

			.accent {
				float: none;
				width: 100%;
				border-right: none;
				padding: 10px 45px;
			}
		}
	}

	@include break('small') {
		.title_block {
			padding: 20px 0;

			.title {
				font-size: 40px;
			}
		}

		.slider {
			padding: 10px 0;

			.slide_con {
				padding: 10px 0;
			}

			.accent {
				padding: 10px 0;
			}

			.title {
				font-size: 32px;
			}

			.text {
				padding: 20px 25px;
			}

			.testimonial {
				margin: 0;
			}
		}
	}
}