.topbar {
	background: white;
	padding: 18px 0;

	.mobile-nav {
		display: none;
	}

	.inner {
		@include clearfix;
		float: right;
	}

	.nav {
		float: left;
		font-weight: $font-weight--black;

		a {
			padding: 0 12px 0 0;
		}

		img {
			float: left;
			margin: -8px 8px -8px 0;
			width: 38px;

			@include break('medium') {
				display: none;
			}
		}

		.emerg {
			float: left;
			margin-right: 6px;
			text-transform: uppercase;
			color: $ui--primary;

			@include break('medium') {
				display: none;
			}
		}

		> div {
			float: left;
		}
	}

	.social {
		@include ulreset;
		float: left;
		border-left: 2px solid $ui--primary;

		a {
			padding: 0 0 0 12px;
		}
	}

	li {
		float: left;
	}

	a {
		color: $ui--primary;
		display: block;
		transition: all 0.3s ease-in-out;

		&:hover {
			color: black;
		}
	}

	@include break('xlarge') {
		.inner {
			padding-right: 15px;
		}
	}

	@include break('small') {
		padding: 0;

		.container {
			padding: 8px 20px;
			border-bottom: 1px solid #0f4b90;
		}

		.mobile-nav {
			float: left;
			display: block;
			font-size: 22px;
			cursor: pointer;
		}

		.nav,
		.social {
			display: inline-block;
			float: none;
		}

		.inner {
			padding: 5px 0 0 0;
		}
	}
}