html,
button,
input,
select,
textarea {
    color: $default_text_color;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: $font-family--primary;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto !important;

    &.alignright {
        float: right;
        margin-left: 15px;
    }

    &.alignleft {
        float: left;
        margin-right: 15px;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

nav {
    ul {
        @include ulreset;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    @include box-sizing(border-box);
}

.container {
    @include clearfix;
    width: $starting_width;
    margin: 0 auto;

    @include break('xlarge') {
        width: 1260px;
    }

    @include break('large') {
        width: 1000px;
    }

    @include break('medium') {
        width: 748px;
    }

    @include break('small') {
        width: 100%;
        padding: 0 20px;
    }
}

.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
}

.main_content {
    position: relative;
    z-index: 40;

    ul {
        margin-top: 0;
        padding: 0 0 0 25px;
    }

    @include break('xsmall') {
        div {
            -moz-column-count: auto !important;
            -moz-column-gap: 0px !important;
            -webkit-column-count: auto !important;
            -webkit-column-gap: 0px !important;
            column-count: auto !important;
            column-gap: 0px !important;
        }
    }
}

.map_labels {
    color: white;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    padding: 5px 10px;
    font-size: 14px;
}

sup {
    top: -0.3em;
}

.corner-pop {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;
    width: 100%;

    &.open {
        .box {
            transform: translate(0, 0);
        }
    }

    .box {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(0, 120%);
        transition: all 0.5s linear;
        background: $ui--primary;
        width: 100%;
        text-align: center;
        color: white;
        padding: 4px 20px;

        img {
            max-width: none;
        }
    }

    .fa {
        position: absolute;
        top: 14px;
        right: 11px;
        color: white;
        font-size: 28px;
        cursor: pointer;
    }

    p {
        max-width: 960px;
        margin: 16px auto;
    }

    .btn {
        background: white;
        color: $ui--primary;
        font-weight: 700;
        font-size: 16px;
        padding: 12px 20px;

        &:hover {
            color: white;
        }
    }
}
