@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-Regular_gdi.eot');
	src: url('fonts/Lato-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Lato-Regular_gdi.woff') format('woff'),
		 url('fonts/Lato-Regular_gdi.ttf') format('truetype'),
		 url('fonts/Lato-Regular_gdi.svg#Lato-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-Light_gdi.eot');
	src: url('fonts/Lato-Light_gdi.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Lato-Light_gdi.woff') format('woff'),
		 url('fonts/Lato-Light_gdi.ttf') format('truetype'),
		 url('fonts/Lato-Light_gdi.svg#Lato-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-Medium_gdi.eot');
	src: url('fonts/Lato-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Lato-Medium_gdi.woff') format('woff'),
		 url('fonts/Lato-Medium_gdi.ttf') format('truetype'),
		 url('fonts/Lato-Medium_gdi.svg#Lato-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-Semibold_gdi.eot');
	src: url('fonts/Lato-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Lato-Semibold_gdi.woff') format('woff'),
		 url('fonts/Lato-Semibold_gdi.ttf') format('truetype'),
		 url('fonts/Lato-Semibold_gdi.svg#Lato-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-Bold_gdi.eot');
	src: url('fonts/Lato-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Lato-Bold_gdi.woff') format('woff'),
		 url('fonts/Lato-Bold_gdi.ttf') format('truetype'),
		 url('fonts/Lato-Bold_gdi.svg#Lato-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-Black_gdi.eot');
	src: url('fonts/Lato-Black_gdi.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Lato-Black_gdi.woff') format('woff'),
		 url('fonts/Lato-Black_gdi.ttf') format('truetype'),
		 url('fonts/Lato-Black_gdi.svg#Lato-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}